<div ng-controller="ShowController">

  <div class="item item-image ">
    <img src="/images/affection_and_lovemaking_background.jpg">
  </div>

  <div class="background-image-container">
    <div class="background-image-container__title-container--open-ended-questions">
      <div class="padding background-image-container__title-container-text--affection-lovemaking ">LET'S TALK <br>ABOUT SEX</div>
    </div>
  </div>

  <div class="padding main-explanation row" style="background-color: #542F64;;">
      <div class="super-information-circled col col-5 col-center"></div>
      <div class="col col-90"> Get closer to your partner with these suggestions for expressing affection – while making love or just to spice up your everyday routine.
      </div>
  </div>

  <div class="sub-explanation__text">
    <p>Knowing your partner's love needs is an important key to a great relationship.  But for many of us, talking about sex is difficult.</p>
    <p>Our 'Salsa Card' deck is a wonderful way to 'turn towards' your partner romantically or sexually, at the pace you choose. Use these cards to help you develop rituals and comfortable ways to talk about sex.</p>
  </div>

 <div class="app-store-link__container" style="border: 3px solid #542F64;;"> 
    <a href="itms://itunes.apple.com/us/app/affection-and-lovemaking/id460831660?mt=8" class="app-store-link__text icon-left super-reply" style="color: #542F64;"> View In The App Store</a> 
 </div>

</div>