<div ng-controller="ShowController">

  <div class="item item-image ">
    <img src="/images/fun_and_play_background.jpg">
  </div>

  <div class="background-image-container">
    <div class="padding background-image-container__title--fun-and-play"> IDEAS FOR<br> GREAT DATES</div>
  </div>

  <div class="padding main-explanation row" style="background-color: #B9DF3B;">
      <div class="super-information-circled col col-5 col-center"></div>
      <div class="col col-90"> 50 suggestions for fun activities you can do together with your partner.
      </div>
  </div>

  <div class="sub-explanation__text">
    <p>All work and no play makes life unbearable! It’s also unhealthy for people and partnerships. Purposely create play in your lives by trying these suggestions for fun things to do together. Don’t think too much – just pick something and do it!.</p>
  </div>

 <div class="app-store-link__container" style="border: 3px solid #B9DF3B;"> 
    <a href="itms://itunes.apple.com/us/app/fun-and-play/id460852874?mt=8" class="app-store-link__text icon-left super-reply" style="color: #B9DF3B;"> View In The App Store</a> 
 </div>

</div>