<div ng-controller="ShowController">

  <div class="item item-image ">
    <img src="/images/give_appreciation_background.jpg">
  </div>

  <div class="background-image-container">
    <div class="padding background-image-container__title--give-appreciation">BUILD FRIENDSHIP<br> AND CLOSENESS</div>
  </div>

  <div class="padding main-explanation row" style="background-color: #FDA354;">
      <div class="super-information-circled col col-5 col-center"></div>
      <div class="col col-90"> Build fondness and admiration by letting your partner know the ways in which you appreciate them.
      </div>
  </div>

  <div class="sub-explanation__text">
    <p>Giving and receiving appreciation is a great way to build friendship and closeness. Expressing thanks – even for small things – is powerful stuff! Try these out on your partner or friends and watch for impressive results.</p>
  </div>

 <div class="app-store-link__container" style="border: 3px solid #FDA354;"> 
    <a href="itms://itunes.apple.com/us/app/give-appreciation!/id460853401?mt=8" class="app-store-link__text icon-left super-reply" style="color: #FDA354;"> View In The App Store</a> 
 </div>

</div>