<div ng-controller="ShowController">

  <div class="item item-image ">
    <img src="/images/i_feel_background.jpg">
  </div>

  <div class="background-image-container">
    <div class="padding background-image-container__title--give-appreciation">BUILD FRIENDSHIP<br> AND CLOSENESS</div>
  </div>

  <div class="padding main-explanation row" style="background-color: #FDA354;;">
      <div class="super-information-circled col col-5 col-center"></div>
      <div class="col col-90"> Learn ways to effectively express your feelings to your partner
      </div>
  </div>

  <div class="sub-explanation__text">
    <p>It's not always easy to tell your partner how you are feeling. Sometimes we just don't have the words! This app is loaded with 234 emotional states to help you identify feelings and build connection with your partner when you don't know what to say.</p>
  </div>

 <div class="app-store-link__container" style="border: 3px solid #FDA354;;"> 
    <a href="itms://itunes.apple.com/us/app/i-feel.../id460853969?mt=8" class="app-store-link__text icon-left super-reply" style="color: #FDA354;;"> View In The App Store</a> 
 </div>

</div>