<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-title>
      Additional Apps
    </super-navbar-title>
  </super-navbar>

  <div class="list">

    <super-navigate view-id="love-maps">
      <a class="item item-thumbnail-left" href="#">
        <img src="/images/love_maps.png">
        <h2>Love Maps</h2>
        <p>Get To Know Your Partner</p>
      </a>
    </super-navigate>

    <super-navigate view-id="open-ended-questions">
      <a class="item item-thumbnail-left" href="#">
        <img src="/images/open_ended_questions.png">
        <h2>Open Ended Questions</h2>
        <p>The Heart &amp; Soul Of Your Partner</p>
      </a>
    </super-navigate>

    <super-navigate view-id="rituals-of-connection">
      <a class="item item-thumbnail-left" href="#">
        <img src="/images/rituals_of_connection.jpeg">
        <h2>Rituals Of Connection</h2>
        <p>Connect In Meaningful Ways</p>
      </a>
    </super-navigate>

    <super-navigate view-id="give-appreciation">
      <a class="item item-thumbnail-left" href="#">
        <img src="/images/give_appreciation.png">
        <h2>Give Appreciation!</h2>
        <p>Build Friendship &amp; Closeness </p>
      </a>
    </super-navigate>

    <super-navigate view-id="fun-and-play">
      <a class="item item-thumbnail-left" href="#">
        <img src="/images/fun_and_play.png">
        <h2>Fun And Play</h2>
        <p>Ideas For Great Dates</p>
      </a>
    </super-navigate>

    <super-navigate view-id="sex-questions-to-ask-men">
      <a class="item item-thumbnail-left" href="#">
        <img src="/images/sex_questions_to_ask_men.png">
        <h2>Sex Questions To Ask Men</h2>
        <p>Talk To Your Man About Sex</p>
      </a>
    </super-navigate>

    <super-navigate view-id="sex-questions-to-ask-women">
      <a class="item item-thumbnail-left" href="#">
        <img src="/images/sex_questions_to_ask_women.png">
        <h2>Sex Questions To Ask Women</h2>
        <p>Talk To Your Woman About Sex</p>
      </a>
    </super-navigate>

    <super-navigate view-id="expressing-needs">
      <a class="item item-thumbnail-left" href="#">
        <img src="/images/expressing_needs.png">
        <h2>Expressing Needs</h2>
        <p>Talk About What You Need</p>
      </a>
    </super-navigate>

    <super-navigate view-id="affection-and-lovemaking">
      <a class="item item-thumbnail-left" href="#">
        <img src="/images/affection_and_lovemaking.png">
        <h2>Affection And Lovemaking</h2>
        <p>Add Spice With Our 'Salsa Cards'</p>
      </a>
    </super-navigate>

    <super-navigate view-id="i-feel">
      <a class="item item-thumbnail-left" href="#">
        <img src="/images/i_feel.png">
        <h2>I Feel...</h2>
        <p>Express Yourself In An Effective Way</p>
      </a>
    </super-navigate>

    <super-navigate view-id="love-talk-for-guys">
      <a class="item item-thumbnail-left" href="#">
        <img src="/images/love_talk_for_guys.png">
        <h2>Love Talk For Guys</h2>
        <p>Talking During Sex</p>
      </a>
    </super-navigate>

  </div>

</div>