<div ng-controller="ShowController">

  <div class="item item-image ">
    <img src="/images/main_background.png">
  </div>

  <div class="background-image-container">
    <h3 class="background-image-container__title--love-maps">GET TO KNOW <br> YOUR PARTNER</h3>
  </div>

  <div class="padding main-explanation row" style="background-color: #00B5FF;">
    <div class="super-information-circled col col-5 col-center"></div>
    <div class="col col-90">An important factor in relationship success is “Knowing” about your partner's world inner world; we call this idea <b>Love Maps</b>.
    </div>
  </div>

  <div class="sub-explanation__text">
    <p> This fun set of questions helps partners to know each other better. Take turns reading the questions and guessing your partner's answer. Your partner should tell you if you are correct, and if not, tell you the right answer.</p>
  </div>

 <div class="app-store-link__container" style="border: 3px solid #00B5FF;"> 
    <a href="itms://itunes.apple.com/us/app/love-maps/id389288067?mt=8" class="app-store-link__text icon-left super-reply" style="color: #00B5FF;"> View In The App Store</a> 
 </div>

</div>
