<div ng-controller="ShowController">

  <div class="item item-image ">
    <img src="/images/open_ended_questions_background.jpg">
  </div>

  <div class="background-image-container">
    <div class="background-image-container__title-container--open-ended-questions">
      <div class="padding background-image-container__title-container-text--open-ended-questions">THE HEART &amp; SOUL <br>OF YOUR PARTNER</div>
    </div>
  </div>

  <div class="padding main-explanation row" style="background-color: #542F64;">
      <div class="super-information-circled col col-5 col-center"></div>
      <div class="col col-90">Learn meaningful questions that uncover your hopes and dreams as individuals and partners, bringing you closer together.
      </div>
  </div>

  <div class="sub-explanation__text">
    <p>Life is often so hectic that we lose touch with the heart and soul of our partner. "Did you change the baby?" or, "What's for dinner?" are not necessarily inquiries that make you feel deeply connected. Use this app to have those deeper conversations that you otherwise wouldn't have time for.</p>
  </div>

 <div class="app-store-link__container" style="border: 3px solid #542F64;"> 
    <a href="itms://itunes.apple.com/us/app/open-ended-questions/id460854555?mt=8" class="app-store-link__text icon-left super-reply" style="color: #542F64;"> View In The App Store</a> 
 </div>

</div>
