<div ng-controller="ShowController">

  <div class="item item-image ">
    <img src="/images/rituals_of_connection_background.jpg">
  </div>

  <div class="background-image-container">
    <div class="background-image-container__title-container--rituals-of-connection">
      <div class="padding background-image-container__title-container-text--open-ended-questions">MEANINGFUL WAYS <br>TO CONNECT</div>
    </div>
  </div>

    
  <div class="padding main-explanation row" style="background-color: #AF61D3;">
    <div class="super-information-circled col col-5 col-center"></div>
    <div class="col col-90">Couples who want to build and maintain emotional ties can create certain types of rituals in order to achieve closeness.
    </div>
  </div>

  <div class="sub-explanation__text">
    <p> Rituals of connection are shared activities that you do on a repeated basis (from daily to yearly) that have meaning for you as a couple. They can be small or big, splashy or simple, as long as they are a regular part of your life that helps you stay connected. Use this app to create them with your partner.</p>
  </div>

   <div class="app-store-link__container" style="border: 3px solid #AF61D3;"> 
      <a href="#" class="app-store-link__text icon-left super-reply" style="color: #AF61D3;"> View In The App Store</a> 
   </div>

</div>