<div ng-controller="ShowController">

  <div class="item item-image ">
    <img src="/images/sex_questions_to_ask_women_background.jpg">
  </div>

  <div class="background-image-container">
    <div class="padding background-image-container__title--sex-questions-women"> SEX QUESTION TO<br> ASK YOUR WOMAN</div>
  </div>

  <div class="padding main-explanation row" style="background-color: #AF61D3;">
      <div class="super-information-circled col col-5 col-center"></div>
      <div class="col col-90"> The more you know about your partner sexually, the better lover you are and the better sex you have.
      </div>
  </div>

  <div class="sub-explanation__text">
    <p>What do women want out of sex? The key is in the answers to these bold, explicit questions, designed to help you create the best possible sexual encounters for both of you. Are you courageous enough to ask?</p>
  </div>

 <div class="app-store-link__container" style="border: 3px solid #AF61D3;"> 
    <a href="itms://itunes.apple.com/us/app/sex-questions-to-ask-women/id460855054?mt=8" class="app-store-link__text icon-left super-reply" style="color: #AF61D3;"> View In The App Store</a> 
 </div>

</div>