<div ng-controller="ShowController">

  <div class="item item-image ">
    <img src="/images/sex_questions_to_ask_men_background.jpg">
  </div>

  <div class="background-image-container">
    <div class="padding background-image-container__title--sex-questions-men"> SEX QUESTION TO<br> ASK YOUR MAN</div>
  </div>

  <div class="padding main-explanation row" style="background-color: #D12E41;">
      <div class="super-information-circled col col-5 col-center"></div>
      <div class="col col-90"> The more you know about your partner sexually, the better lover you are and the better sex you have.
      </div>
  </div>

  <div class="sub-explanation__text">
    <p>Being tongue-tied or shy about sex is no excuse for being a so-so lover. These bold, brave and explicit questions enable you to co-create the kind of sexual experiences that bring both of you to the most satisfying encounters.</p>
  </div>

 <div class="app-store-link__container" style="border: 3px solid #D12E41;"> 
    <a href="itms://itunes.apple.com/us/app/sex-questions-to-ask-men/id460854911?mt=8" class="app-store-link__text icon-left super-reply" style="color: #D12E41;"> View In The App Store</a> 
 </div>

</div>