<div ng-controller="IndexController">

  <super-navbar>
      <super-navbar-title>
          Your Child's Love Maps
      </super-navbar-title>
  </super-navbar>

  <div class="item item-image ">
    <img src="/images/child_love_maps_background.jpg">
  </div>

  <div class="background-image-container">
    <div class="padding background-image-container__title--fun-and-play"> GET TO KNOW <br> YOUR CHILD</div>
  </div>

  <div class="padding main-explanation row" style="background-color: #B9DF3B;">
      <div class="super-heart col col-5 col-center"></div>
      <div class="col col-90"> Develop a greater understanding of what makes your child tick and create a more rewarding family life
      </div>
  </div>

  <div class="sub-explanation__text">
    <p>Think you know your child? The 100 questions in this app challenge parents to create "love maps" for their sons and daughters. In this app parents take turns trying to answer questions about their child. This is a fun exercise that can be replayed if parents don’t know the answer to particular items, or deferred until after they talk to their child to find out the answers.</p>
  </div>

  <super-navigate view-id="begin-questions">
    <div class="begin-questions">GET STARTED</div>
  </super-navigate>

</div>